@font-face {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Saira Semi Condensed');
}

html, body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background: url("https://cdna.artstation.com/p/assets/images/images/009/330/096/large/tomasz-jedruszek-asdominion-2nd.jpg?1518377966") no-repeat center center fixed;
  background-size: cover;
  background-position-y: 42%;
  height: 100vh;
}

#root {
  height: 100vh;
}

img {
  border-radius: 3px;
}

.App {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 100%;
  height: 100vh;
}

#game-end {
  width: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 5em;
  background: #d3e7e800;
  color: white;
}

button {
  width: 100%;
  height: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1em;
  background: #38add4;
  color: white;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

.cellar-button {
  width: 100%;
  height: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1em;
  background: #fdb80e;
  color: white;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

#play-table {
  border-radius: 3px;
  width: 100%;
  height: 90%;
  display: block;
}

/* PLAYER AREA STYLING */
#player-area-container {
  border-radius: 3px;
  width: 100%;
  height: 36%;
  background: #0000002b;
  display: flex;
}

#player-one-area {
  width: 43%;
  height: 100%;
  display: flex;
}

#trash {
  width: 14%;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

.card-info {
  width: 14%;
  height: 100%;
  background: #00000033;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#player-two-area {
  width: 43%;
  height: 100%;
  display: flex;
}

/* PLAYER DECK STYLING */
.player-deck {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 25%;
  height: 100%;
  display: flex;
  overflow: auto;
  padding-left: .5%;
}


.player-deck img {
  height: 67%;
  margin-left: 0%;
  margin-top: 8%;
}

.player-deck .rest {
  height: 67%;
  margin-left: -63%;
  margin-top: 8%;
}

.player-deck::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0a0a0a47;
}

.player-deck::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0a0a0a47;
}

.player-deck::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #90909099;
}
/* END PLAYER DECK STYLING */

/* PLAYER HAND STYLING */
.player-hand {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 50%;
  height: 100%;
  display: flex;
  overflow: auto;
  padding-left: 2px;
}

.player-hand img {
  height: 67%;
  margin-left: 0px;
  margin-top: 4%;
}

.player-hand .rest {
  height: 67%;
  margin-left: -17%;
  margin-top: 4%;
}

.player-hand::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0a0a0a47;
}

.player-hand::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0a0a0a47;
}

.player-hand::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #90909099;
}

/* END PLAYER HAND STYLING */

/* PLAYER DISCARD STYLING */
.player-discard {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 25%;
  height: 100%;
  display: flex;
  overflow: auto;
  padding-left: 2px;
}

.player-discard img {
  height: 67%;
  margin-left: 0px;
  margin-top: 8%;
}

.player-discard .rest {
  height: 67%;
  margin-left: -63%;
  margin-top: 8%;
}

.player-discard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0a0a0a47;
}

.player-discard::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0a0a0a47;
}

.player-discard::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #90909099;
}
/* END PLAYER DISCARD STYLING */



/* END PLAYER AREA STYLING */
