@font-face {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Saira Semi Condensed');
}

html, body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background: url("https://cdna.artstation.com/p/assets/images/images/009/330/096/large/tomasz-jedruszek-asdominion-2nd.jpg?1518377966") no-repeat center center fixed;
  background-size: cover;
  background-position-y: 42%;
  height: 100vh;
}

#root {
  height: 100vh;
}

img {
  border-radius: 3px;
}

#game-end {
  width: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 5em;
  background: #d3e7e800;
  color: white;
}

button {
  width: 100%;
  height: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1em;
  background: #38add4;
  color: white;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

.cellar-button {
  width: 100%;
  height: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1em;
  background: #fdb80e;
  color: white;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}