@font-face {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Saira Semi Condensed');
}

html, body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background: url("https://cdna.artstation.com/p/assets/images/images/009/330/096/large/tomasz-jedruszek-asdominion-2nd.jpg?1518377966") no-repeat center center fixed;
  background-size: cover;
  background-position-y: 42%;
  height: 100vh;
}

#root {
  height: 100vh;
}

img {
  border-radius: 3px;
}