/* MARGINS STYLING */
.margins {
  width: 7.5%;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

.player-turn-info {
  display: flex;
  justify-content: space-around;
  background: #0000002b;
  color: white;
  padding-left: 5%;
  flex-direction: column;
  height: 75%;
}

.player-tag {
  height: 9%;
}

.player-actions {
  height: 7%;
}

.player-buys {
  height: 7%;
}

.player-wallet {
  height: 7%;
}

.player-vps {
  height: 7%;
}

.message {
  padding-left: 3%;
  padding-right: 3%;
  background: #fdb80e;
  color: white;
  border: solid 1px #4c4c4c;
  height: 100%;
  text-align: center;
}

.end-turn {
  height: 25%;
  background: #0000002b;
}
/* END MARGINS STYLING */

/* SUPPLY AREA STYLING */
#supply-area {
  width: 100%;
  height: 75%;
  display: flex;
}

#supply-card-container {
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: 45% 45%;
  justify-content: space-evenly;
  column-gap: .5%;
  width: 100%;
  height: 100%;
  padding: 3%;
}

/* CARD DIVS */
.card-container {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

/* END CARD DIVS */

/* IMG STYLING */
.card-container img {
  height: calc(100% * .90);
}

.card-container .rest {
  height: calc(100% * .90);
  margin-left: calc(100% * -.63);
}

/* #supply-area .rest:last-of-type:hover {
  transform: scale(1.3)
} */

/* TRASH STYLING */
#trash {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

#trash img {
  height: 67%;
  margin-top: 6%;
}

#trash .rest {
  height: 67%;
  margin-top: 6%;
  margin-left: -46%;
}
/* END TRASH STYLING */

/* END IMG STYLING */