.App {
  border: solid 1px;
  width: 100%;
  height: 100%;
}

button {
  width: 100%;
  height: 100%;
}

#play-table {
 border: solid 1px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* PLAYER AREA STYLING */
#player-area-container {
  border: solid 1px;
  width: 100%;
  height: 200px;
  display: flex;
}

#player-one-area {
  border: solid 1px;
  width: 43%;
  display: flex;
}

#trash {
  width: 14%;
}

#player-two-area {
  border: solid 1px;
  width: 43%;
  display: flex;
}

/* PLAYER DECK STYLING */
.player-deck {
  border: solid 1px;
  width: 25%;
  display: flex;
  overflow: scroll;
}

.player-deck img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

.player-deck .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END PLAYER DECK STYLING */

/* PLAYER HAND STYLING */
.player-hand {
  border: solid 1px;
  width: 50%;
  display: flex;
  overflow: scroll;
}

.player-hand img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

/* .player-hand img:hover {
  transform: scale(1.0)
} */

.player-hand .rest {
  height: 150px;
  margin-left: -55px;
  margin-top: 15px;
}
/* END PLAYER HAND STYLING */

/* PLAYER DISCARD STYLING */
.player-discard {
  border: solid 1px;
  width: 25%;
  display: flex;
  overflow: scroll;
}

.player-discard img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

.player-discard .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END PLAYER DISCARD STYLING */



/* END PLAYER AREA STYLING */
