@font-face {
  font-family: 'Trajan Pro Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Trajan Pro Regular'), local('Trajan Pro Regular'),
}

html {
  height: 100vh;
}

body {
  font-family: 'Trajan Pro Regular';
  background-image: url("https://cdna.artstation.com/p/assets/images/images/009/330/096/large/tomasz-jedruszek-asdominion-2nd.jpg?1518377966");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  height: 100vh;
}

img {
  border-radius: 3px;
}

.App {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

#game-end {
  width: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 5em;
  background: #d3e7e800;
  color: white;
}

button {
  width: 100%;
  height: 100%;
  font-family: 'Trajan Pro Regular';
  font-size: 1em;
  background: #38add4;
  color: white;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

.cellar-button {
  width: 100%;
  height: 100%;
  font-family: 'Trajan Pro Regular';
  font-size: 1em;
  background: #fdb80e;
  color: white;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

#play-table {
 border: solid 1px #4c4c4c;
 border-radius: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* PLAYER AREA STYLING */
#player-area-container {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background: #0000002b;
  display: flex;
}

#player-one-area {
  width: 43%;
  display: flex;
}

#trash {
  width: 14%;
}

#card-info {
  width: 14%;
  height: 100%;
  /* padding-left: 5px;
  padding-right: 5px; */
  color: white;
  text-align: center;
}

#player-two-area {
  width: 43%;
  display: flex;
}

/* PLAYER DECK STYLING */
.player-deck {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 25%;
  display: flex;
  overflow: scroll;
  padding-left: 2px;
}

.player-deck img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

.player-deck .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END PLAYER DECK STYLING */

/* PLAYER HAND STYLING */
.player-hand {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 50%;
  display: flex;
  overflow: scroll;
  padding-left: 2px;
}

.player-hand img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

.player-hand .rest {
  height: 150px;
  margin-left: -47px;
  margin-top: 15px;
}

/* .player-hand .rest:hover {
  height: 150px;
  margin-left: -30px;
  margin-top: 15px;
} */

/* END PLAYER HAND STYLING */

/* PLAYER DISCARD STYLING */
.player-discard {
  border: solid 1px #4c4c4c;
  border-radius: 3px;
  width: 25%;
  display: flex;
  overflow: scroll;
  
}

.player-discard img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

.player-discard .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END PLAYER DISCARD STYLING */



/* END PLAYER AREA STYLING */
