
/* SUPPLY AREA STYLING */
#supply-area {
  width: 100%;
  height: 75%;
  display: flex;

}

#tvcard-container {
  display: flex;
  height: 100%;
  width: 35%;
}

/* MARGINS STYLING */
.margins {
  width: 7.5%;
  border: solid 1px #4c4c4c;
  border-radius: 3px;
}

.player-turn-info {
  display: flex;
  justify-content: space-around;
  background: #0000002b;
  color: white;
  padding-left: 5%;
  flex-direction: column;
  height: 75%;
}

.player-tag {
  height: 9%;
}

.player-actions {
  height: 7%;
}

.player-buys {
  height: 7%;
}

.player-wallet {
  height: 7%;
}

.player-vps {
  height: 7%;
}

.message {
  padding-left: 3%;
  padding-right: 3%;
  background: #fdb80e;
  color: white;
  border: solid 1px #4c4c4c;
  height: 100%;
  text-align: center;
}

.end-turn {
  height: 25%;
  background: #0000002b;
}

/* END MARGINS STYLING */

/* ACTION CARD STYLING */
#action-card-container {
  display: flex;
  height: 100%;
  width: 50%;
}

#action-card-area {
  /* border: solid 1px #4c4c4c; */
  border-radius: 3px;
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

#action-card-area div {
  width: 16%;
  height: 50%;
  margin-bottom: 5%;
  margin-top: 4%;
  margin-left: 5%;
}
/* END ACTION CARD STYLING */

/* IMG STYLING */
#supply-area img {
  height: 62%;
  margin-left: 0px;
}

#supply-area .rest {
  height: 62%;
  margin-left: -70%;
}

/* CELLAR STYLING */
#cellars {
  height: 100%;
  display: flex;
}

#cellars .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END CELLAR STYLING */

/* MOAT STYLING */
#moats {
  height: 100%;
  display: flex;
}

#moats .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END MOAT STYLING */

/* WORKSHOP STYLING */
#workshops {
  height: 100%;
  display: flex;
}

#workshops .rest:last-of-type:hover {
  transform: scale(1.3);
}

/* END WORKSHOP STYLING */

/* WOODCUTTER STYLING */
#woodcutters {
  height: 100%;
  display: flex;
}

#woodcutters .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END WOODCUTTER STYLING */

/* VILLAGE STYLING */
#villages {
  height: 100%;
  display: flex;
}

#villages .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END VILLAGE STYLING */

/* SMITHY STYLING */
#smithys {
  height: 100%;
  display: flex;
}

#smithys .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END SMITHY STYLING */

/* MILITIA STYLING */
#militias {
  height: 100%;
  display: flex;
}

#militias .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END MILITIA STYLING */

/* REMODEL STYLING */
#remodels {
  height: 100%;
  display: flex;
}

#remodels .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END REMODEL STYLING */

/* MARKET STYLING */
#markets {
  height: 100%;
  display: flex;
}

#markets .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END MARKET STYLING */

/* MINE STYLING */
#mines {
  height: 100%;
  display: flex;
}

#mines .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END MINE STYLING */

/* TREASURE AND VICTORY AREA STYLING */
#tvcard-container {
  display: flex;
  flex-direction: column;
}

#treasure-card-area {
  /* border: solid 1px #4c4c4c; */
  border-radius: 3px;
  padding-left: 25px;
  display: flex;
  width: 100%;
  height: 50%;;
}

#treasure-card-area div {
  width: 30%;
  margin-left: 10px;
}

#victory-card-area {
  /* border: solid 1px #4c4c4c; */
  border-radius: 3px;
  padding-left: 25px;
  display: flex;
  width: 100%;
  height: 50%;
}

#victory-card-area div {
  width: 30%;
  margin-left: 10px;
}
/* END TREASURE AND VICTORY AREA STYLING */

/* COPPER STYLING */
#coppers {
  height: 100%;
  display: flex;
  margin-top: 15px;
}

#coppers .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END COPPER STYLING */

/* SILVER STYLING */
#silvers {
  height: 100%;
  display: flex;
  margin-top: 15px;
}

#silvers .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END SILVER STYLING */

/* GOLD STYLING */
#golds {
  height: 100%;
  display: flex;
  margin-top: 15px;
}

#golds .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END GOLD STYLING */

/* ESTATE STYLING */
#estates {
  height: 100%;
  display: flex;
  margin-top: 15px;
}

#estates .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END ESTATE STYLING */

/* DUCHY STYLING */
#duchys {
  height: 100%;
  display: flex;
  margin-top: 15px;
}

#duchys .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END DUCHY STYLING */

/* PROVINCE STYLING */
#provinces {
  height: 100%;
  display: flex;
  margin-top: 15px;
}

#provinces .rest:last-of-type:hover {
  transform: scale(1.3)
}
/* END PROVINCE STYLING */

/* TRASH STYLING */
#trash {
  height: 170px;
  display: flex;
}

#trash img {
  height: 150px;
  margin-left: 25%;
  margin-top: 8px;
}

#trash .rest {
  height: 150px;
  margin-left: -93px;
  margin-top: 8px;
}
/* END TRASH STYLING */

/* END SUPPLY AREA STYLING */