/* SUPPLY AREA STYLING */

#supply-area {
  width: 100%;
  border: solid 1px;
  height: 500px;
  display: flex;

}

#tvcard-container {
  border: solid 1px;
  display: flex;
  width: 35%;
}

/* MARGINS STYLING */
.margins {
  width: 7.5%;
}

.player-turn-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90%;
}

.end-turn {
  height: 10%;
}

/* END MARGINS STYLING */

/* ACTION CARD STYLING */
#action-card-container {
  border: solid 1px;
  display: flex;
  width: 50%;

}

#action-card-area {
  border: solid 1px;
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

#action-card-area div {
  /* border: solid 1px; */
  width: 16%;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 20px;
}
/* END ACTION CARD STYLING */

/* CELLAR STYLING */
#cellars {
  height: 150px;
  display: flex;
}

#cellars img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#cellars .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END CELLAR STYLING */

/* MOAT STYLING */
#moats {
  height: 150px;
  display: flex;
}

#moats img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#moats .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END MOAT STYLING */

/* WORKSHOP STYLING */
#workshops {
  height: 150px;
  display: flex;
}

#workshops img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#workshops .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END WORKSHOP STYLING */

/* WOODCUTTER STYLING */
#woodcutters {
  height: 150px;
  display: flex;
}

#woodcutters img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#woodcutters .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END WOODCUTTER STYLING */

/* VILLAGE STYLING */
#villages {
  height: 150px;
  display: flex;
}

#villages img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#villages .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END VILLAGE STYLING */

/* SMITHY STYLING */
#smithys {
  height: 150px;
  display: flex;
}

#smithys img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#smithys .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END SMITHY STYLING */

/* MILITIA STYLING */
#militias {
  height: 150px;
  display: flex;
}

#militias img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#militias .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END MILITIA STYLING */

/* REMODEL STYLING */
#remodels {
  height: 150px;
  display: flex;
}

#remodels img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#remodels .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END REMODEL STYLING */

/* MARKET STYLING */
#markets {
  height: 150px;
  display: flex;
}

#markets img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#markets .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END MARKET STYLING */

/* MINE STYLING */
#mines {
  height: 150px;
  display: flex;
}

#mines img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#mines .rest {
  height: 150px;
  margin-left: -91px;
  margin-top: 15px;
}
/* END MINE STYLING */

/* TREASURE AND VICTORY AREA STYLING */
#tvcard-container {
  display: flex;
  flex-direction: column;
}

#treasure-card-area {
  border: solid 1px;
  display: flex;
  width: 100%;
  height: 50%;;
}

#treasure-card-area div {
  /* border: solid 1px; */
  width: 30%;
  margin-left: 10px;
}

#victory-card-area {
  border: solid 1px;
  display: flex;
  width: 100%;
  height: 50%;
}

#victory-card-area div {
  /* border: solid 1px; */
  width: 30%;
  margin-left: 10px;
}
/* END TREASURE AND VICTORY AREA STYLING */

/* COPPER STYLING */
#coppers {
  height: 180px;
  display: flex;
  margin-top: 15px;
}

#coppers img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#coppers .rest {
  height: 150px;
  margin-left: -93px;
  margin-top: 15px;
}
/* END COPPER STYLING */

/* SILVER STYLING */
#silvers {
  height: 180px;
  display: flex;
  margin-top: 15px;
}

#silvers img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#silvers .rest {
  height: 150px;
  margin-left: -93px;
  margin-top: 15px;
}
/* END SILVER STYLING */

/* GOLD STYLING */
#golds {
  height: 180px;
  display: flex;
  margin-top: 15px;
}

#golds img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#golds .rest {
  height: 150px;
  margin-left: -96px;
  margin-top: 15px;
}
/* END GOLD STYLING */

/* ESTATE STYLING */
#estates {
  height: 180px;
  display: flex;
  margin-top: 15px;
}

#estates img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#estates .rest {
  height: 150px;
  margin-left: -93px;
  margin-top: 15px;
}
/* END ESTATE STYLING */

/* DUCHY STYLING */
#duchys {
  height: 180px;
  display: flex;
  margin-top: 15px;
}

#duchys img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#duchys .rest {
  height: 150px;
  margin-left: -93px;
  margin-top: 15px;
}
/* END DUCHY STYLING */

/* PROVINCE STYLING */
#provinces {
  height: 180px;
  display: flex;
  margin-top: 15px;
}

#provinces img {
  height: 150px;
  margin-left: 0px;
  margin-top: 15px;
}

#provinces .rest {
  height: 150px;
  margin-left: -93px;
  margin-top: 15px;
}
/* END PROVINCE STYLING */

/* TRASH STYLING */
#trash {
  height: 180px;
  display: flex;
  margin-top: 15px;
}

#trash img {
  height: 150px;
  margin-left: 25%;
  margin-top: 15px;
}

#trash .rest {
  height: 150px;
  margin-left: -93px;
  margin-top: 15px;
}
/* END TRASH STYLING */

/* END SUPPLY AREA STYLING */